<footer class="footer">
    <div class="container footer__container">
			<div class="footer__top">
				<div class="footer__logo">
					<a href="">
						<img src="img/logo-dark.svg" alt="">
					</a>
				</div>
				<a class="footer__title footer__title--link" href="mailto:hello@evgmed.com">hello@evgmed.com</a>
			</div>
			<div class="footer__bottom">
				<div class="footer__row footer__row--left">
					<a class="footer__link" href="">Политика обработки персональных данных</a>
				</div>
				<div class="footer__row footer__row--right">
					<a class="footer__link" href="">Бриф</a>
					<a class="footer__link" href="" target="_blank">Telegram</a>
					<a class="footer__link" href="" target="_blank">Instagram</a>
				</div>
			</div>
    </div>
</footer>
