<header class="header header--portfolio">
    <div class="container header__container">
        <div class="left">
            <a href="" class="logo">
							<img src="img/logo-light.svg" alt="">
						</a>
        </div>
        <div class="right">
            <div class="contacts">
                <a href="mailto:">hello@evgmed.com</a>
                <div>По всем вопросам</div>
            </div>
            <button type="button" class="btn" onclick="callPopupBrif();">Давайте работать</button>
        </div>
    </div>
</header>