.portfolio-hero{
	width: 100%;
	position: relative;
	z-index: 1;
	&__img{
		width: 100%;
		height: 701px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			position: absolute;
			left: 0;
			z-index: 0;
		}
	}
}
.container-text{
	max-width: 960px;
	margin: 0 auto;
}
.portfolio-page{
    padding-top: 10px;
    padding-bottom: 0px;
	background: #ffffff;
	color: #000000;
    .container{
       width: 1650px;
    }
    .container-inner{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1940px;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-top{
		padding: 74px 0 64px;
		&__title{
			font-size: 60px;
			font-weight: 400;
			font-style: normal;
			text-align: center;
			letter-spacing: -1.2px;
			line-height: normal;
		}
		&__text{
			font-size: 25px;
			margin-top: 95px;
			i{
				font-weight: 300;
			}
			a{
				text-decoration: underline;
				letter-spacing: -1px;
				font-weight: 500;
				color: $orange;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&__tags{
			margin-top: 38px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-inner{
				background-color: #f3f5f6;
				display: flex;
				align-items: center;
				padding: 3px 20px;
				border-radius: 13px;
				+.portfolio-top__tags-inner{
					margin-top: 20px;
				}
			}
		}
		&__tag{
			display: block;
			white-space: nowrap;
			font-size: 25px;
			font-weight: 400;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.5px;
			color: #696969;
			padding: 12px 40px;
			&:hover{
				color: #000000;
			}
		}
		&__sep{
			display: block;
			white-space: nowrap;
			font-size: 25px;
			font-weight: 400;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.5px;
			color: #696969;
		}
    }

    .banner-portfolio{
        height: 605px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-portfolio{
        padding-bottom: 50px;
        padding-top: 80px;
		font-size: 25px;
		line-height: 1.2;
        .text-portfolio_title{
			font-weight: 400;
			font-size: 40px;
            line-height: 1.2;
            margin-bottom: 20px;
			letter-spacing: -1.6px;
        }
        p{
            max-width: 1240px;
            margin-bottom: 25px;
        }
        .text-portfolio{
			width: 1040px;
			padding: 0 40px 70px;
			margin: 0 auto;
			box-sizing: border-box;
			max-width: 100%;
			i{
				font-weight: 300;
			}
			a{
				text-decoration: underline;
				letter-spacing: -1px;
				font-weight: 500;
				color: $orange;
				&:hover{
					text-decoration: none;
				}
			}
			&--png{
				padding-bottom: 40px;
			}
        }

        .row{
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            .block{
                margin-bottom: 35px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: auto;
                img{
                    display: block;
                    width: 100%;
                }
                .video-link{
                    cursor: pointer;
                    width: 100%;
                    height: 750px;
                    background: url("../img/video-play.png") center center no-repeat;
                    transition: 0.3s ease;
                    display: block;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.31);
                    }
                }
            }

            &.third-row{
                .block{
                    width: 32%;
                    height: auto;
                }
            }
            &.double-row{
                .block{
                    height: auto;
                    width: 49%;
                }
            }
            &.fifth-row{
                .block{
                    height: auto;
                    width: 19%;
                }
            }
        }
    }
    .text-section-portfolio{
        padding-top: 140px;
        .ah2{
            margin-bottom: 50px;
			font-weight: 400;
			font-size: 40px;
			line-height: 1.2;
			letter-spacing: -1.6px;
        }
        .flex-block{

            display: flex;
            justify-content: space-between;

            &>div{
                width: 49%;
                flex-shrink: 0;
                font-size: 25px;
                line-height: 1.2;
                .ah3{
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                ol{
                    list-style-position:inside;
                    li{
                        margin-bottom: 30px;
                    }
                }
                p{
                    margin-bottom: 25px;
                }
            }
        }

        .question-portfolio{
            text-align: center;
            background: #f3f5f6;
            font-size: 25px;
            line-height: 1.2;
            padding-top: 75px;
            padding-bottom: 60px;
            font-weight: 300;
            color: #000;
            a{
                font-weight: 500;
                color: inherit;
            }
        }
    }
    .more-klients-grid{
		padding-top: 75px;
		padding-bottom: 90px;
		color: #fff;
		background-color: #000;
		background-image: linear-gradient(42deg, #000017 0, #000017 100%);
        .ah2{
            margin-bottom: 75px;
			font-weight: 400;
			font-size: 40px;
			line-height: 1.2;
			letter-spacing: -1.6px;
        }
        .flex-block{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .klients-item{
                width: 23.7%;
                display: block;
				margin-left: 0;
				margin-right: 0;
                &:hover .img-block img{
                    transform: scale(1.1);
                }
                .img-block{
                    width: 100%;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    img{
                        display: block;
                        width: 100%;
                        transition: transform .3s ease,-webkit-transform .3s ease;
                    }
                }
            }
        }
    }
}


.videoBox{
    padding: 0;
}

.video-modal.hide .fancybox-button{
    width: 90px;
    height: 90px;
    right: 80px;
    top: 50px;
}

@media screen and (max-width:1650px){
    .portfolio-page .container-inner{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:1000px){
    .portfolio-page .container-inner{
        padding-left: 25px;
        padding-right: 25px;
    }

    .portfolio-page .top-portfolio {
        padding-bottom: 60px;
    }
    .portfolio-page .banner-portfolio {
        height: 310px;
    }
    .portfolio-page .section-portfolio .row .block{
        margin-bottom: 20px;
    }
    .portfolio-page .section-portfolio .row .block .video-link {
        height: 550px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div p {
        margin-bottom: 20px;
    }
    .portfolio-page .section-portfolio {
        padding-bottom: 40px;
        padding-top: 110px;
        font-size: 20.5px;
        line-height: 23px;
    }
    .portfolio-page .text-section-portfolio {
        padding-top: 110px;
    }



    .portfolio-page .more-klients-grid .flex-block .klients-item {
        width: 49%;
        display: block;
        margin-bottom: 50px;
    }
    .portfolio-page .more-klients-grid {
        padding-top: 100px;
    }
    .video-modal.hide .fancybox-button{
        width: 80px;
        height: 80px;
        right: 25px;
        top: 25px;
    }
}

@media screen and (max-width:768px){
    .portfolio-page .banner-portfolio {
        height: 220px;
    }
    .portfolio-page .top-portfolio .flex-left .name-portfolio {
        font-size: 30.7px;
        line-height: 35px;
        margin-bottom: 23px;
    }
    .portfolio-page .back-portfolio {
        font-size: 17.4px;
        line-height: 21px;
    }
    .portfolio-page .top-portfolio .flex-left .name-client {
        font-size: 17.4px;
        margin-bottom: 15px;
    }
    .portfolio-page .top-portfolio {
        padding-bottom: 40px;
        display: block;
    }
    .portfolio-page .top-portfolio .flex-left{
        width: 100%;
    }
    .portfolio-page .top-portfolio .flex-right{
        width: 100%;
    }
    .portfolio-page .top-portfolio .flex-right a {
        line-height: 36px;
        font-size: 14.8px;
        padding: 0 18px;
        margin: 14px 7px 0;
        border-radius: 22px;
    }
    .portfolio-page .section-portfolio {
        padding-bottom: 30px;
        padding-top: 50px;
        font-size: 16.5px;
        line-height: 21px;
    }
    .portfolio-page .section-portfolio .text-portfolio_title {
        font-size: 26.5px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .portfolio-page .section-portfolio .text-portfolio {
        padding-bottom: 21px;
    }
    .portfolio-page .section-portfolio .row .block .video-link {
        height: 290px;
        background-size: 60px auto;
    }
    .portfolio-page .section-portfolio .row .block {
        margin-bottom: 10px;
    }
    .portfolio-page .text-section-portfolio .ah2 {
        margin-bottom: 34px;
        font-size: 26.5px;
        line-height: 27px;
    }
    .portfolio-page .text-section-portfolio .flex-block{
        display: block;
    }
    .portfolio-page .text-section-portfolio .flex-block>div .ah3 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div {
        width: 100%;
        font-size: 17.5px;
        line-height: 21px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div ol li {
        margin-bottom: 14px;
    }

    .portfolio-page .more-klients-grid {
        padding-top: 80px;
    }
    .portfolio-page .more-klients-grid .flex-block .klients-item{
        width: 100%;
    }
    .video-modal.hide .fancybox-button{
        width: 45px;
        height: 45px;
        right: 10px;
        top: 10px;
    }
}


@media screen and (max-width:600px){
    .portfolio-page .container-inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .portfolio-page .banner-portfolio {
        height: vw2(220);
    }
    .portfolio-page .top-portfolio .flex-left .link-portfolio {
        font-size: vw2(16);
        line-height: vw2(16);
    }
    .portfolio-page .top-portfolio .flex-left .name-portfolio {
        font-size: vw2(30.7);
        line-height: vw2(35);
        margin-bottom: vw2(23);
    }
    .portfolio-page .back-portfolio {
        font-size: vw2(17.4);
        line-height: vw2(21);
    }
    .portfolio-page .top-portfolio .flex-left .name-client {
        font-size: vw2(17.4);
        margin-bottom: vw2(15);
    }
    .portfolio-page .top-portfolio {
        padding-top: vw2(45);
        padding-bottom: vw2(40);
    }
    .portfolio-page .top-portfolio .flex-right a {
        line-height: vw2(36);
        font-size: vw2(14.8);
        padding: 0 vw2(18);
        margin: vw2(14) vw2(7) 0;
        border-radius: vw2(22);
    }
    .portfolio-page .section-portfolio {
        padding-bottom: vw2(30);
        padding-top: vw2(50);
        font-size: vw2(16.5);
        line-height: vw2(21);
    }
    .portfolio-page .section-portfolio .text-portfolio_title {
        font-size: vw2(26.5);
        line-height: vw2(30);
        margin-bottom: vw2(25);
    }
    .portfolio-page .section-portfolio .text-portfolio {
        padding-bottom: vw2(21);
    }
    .portfolio-page .section-portfolio .row .block .video-link {
        height: vw2(290);
        background-size: 40px auto;
    }
    .portfolio-page .section-portfolio .row .block {
        margin-bottom: 10px;
    }
    .portfolio-page .text-section-portfolio .ah2 {
        margin-bottom: 34px;
        font-size: 26.5px;
        line-height: 27px;
    }
    .portfolio-page .text-section-portfolio .flex-block{
        display: block;
    }
    .portfolio-page .text-section-portfolio .flex-block>div .ah3 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div {
        width: 100%;
        font-size: 17.5px;
        line-height: 21px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div ol li {
        margin-bottom: 14px;
    }

    .portfolio-page .more-klients-grid {
        padding-top: 80px;
    }
    .portfolio-page .more-klients-grid .flex-block .klients-item{
        width: 100%;
    }
}

.disable-images{
    img{
        pointer-events: none;
        user-select: none;
    }
    [style*="background-image"]{
        user-select: none;
    }
}


.work-team__flex{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 22px);
	margin-left: -11px;
	margin-right: -11px;
}
.work-team__item{
	margin: 0 11px 35px;
	width: 171px;
}
.work-team__item img{
	width: 100%;
}
.work-team__info{
	color: #f4f5f7;
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
.work-team__name{
	font-weight: 500;
}
.work-team__staf{
	font-style: italic;
	font-weight: 300;
}

.more-klients-grid .sep-line{
	width: 100%;
	height: 1px;
	background-color: #f4f5f7;
	margin: 20px 0 55px;
}



.pngVideo{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 46.875%;
	box-sizing: border-box;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		object-fit: cover;
		display: block;
		object-position: center top;
	}
	.video-container{
		width: 69.1667%;
		position: absolute;
		left: 50%;
		top: 10.6%;
		transform: translateX(-50%);
		z-index: 2;
		&__inner{
			padding-bottom: 56%;
			position: relative;
		}
		video{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center top;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}
	}
}