.portfolio-hero{
	width: 100%;
	position: relative;
	z-index: 1;
	&__img{
		width: 100%;
		height: 605px;
		position: relative;
		@include media((
			height: (md: 500px,sm: vw3(494)),
		));
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			position: absolute;
			left: 0;
			z-index: 0;
		}
	}
}
.container-text{
	max-width: 960px;
	margin: 0 auto;
}
.portfolio-page{
    padding-top: 0;
    padding-bottom: 0;
	background: #ffffff;
	color: #000000;
    .container{
       width: 1650px;
    }
    .container-inner{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1940px;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-top{
		padding: 74px 0 64px;
		@include media((
				padding: (sm: vw3(25) 0 vw3(47)),
		));
		&__title{
			font-size: 60px;
			font-weight: 400;
			font-style: normal;
			text-align: center;
			letter-spacing: -1.2px;
			line-height: normal;
			@include media((
					font-size: (sm: vw3(22)),
					letter-spacing: (sm: vw3(-1.2)),
			));
		}
		&__text{
			font-size: 25px;
			margin-top: 95px;
			@include media((
					font-size: (sm: vw3(13)),
					margin-top: (sm: vw3(42)),
					max-width: (sm: vw3(280)),
			));
			i{
				font-weight: 300;
			}
			a{
				text-decoration: underline;
				letter-spacing: -1px;
				font-weight: 500;
				color: $orange;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&__tags{
			margin-top: 38px;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include media((
					margin-top: (sm: vw3(14)),
			));
			&-inner{
				background-color: #f3f5f6;
				display: flex;
				align-items: center;
				padding: 3px 20px;
				border-radius: 13px;
				@include media((
						border-radius: (sm: vw3(5)),
						padding: (sm: vw3(0)),
				));
				+.portfolio-top__tags-inner{
					margin-top: 20px;
					@include media((
							margin-top: (sm: vw3(6)),
					));
				}
			}
		}
		&__tag{
			display: block;
			white-space: nowrap;
			font-size: 25px;
			font-weight: 400;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.5px;
			color: #696969;
			padding: 12px 40px;
			@include media((
					font-size: (sm: vw3(13)),
					letter-spacing: (sm: vw3(-0.7)),
					padding: (sm: vw3(9) vw3(18)),
			));
			&:hover{
				color: #000000;
			}
		}
		&__sep{
			display: block;
			white-space: nowrap;
			font-size: 25px;
			font-weight: 400;
			font-style: normal;
			line-height: normal;
			letter-spacing: -0.5px;
			color: #696969;
			@include media((
					font-size: (sm: vw3(13)),
					letter-spacing: (sm: vw3(-0.7)),
			));
		}
    }

    .banner-portfolio{
        height: 605px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.section-portfolio{
	padding-bottom: 50px;
	padding-top: 80px;
	font-size: 25px;
	line-height: 1.3;
	.text-portfolio_title{
		font-weight: 400;
		font-size: 40px;
		line-height: 1.3;
		margin-bottom: 20px;
		letter-spacing: -1.6px;
	}
	p{
		max-width: 1240px;
		margin-bottom: 25px;
		@include media((
				margin-bottom: (sm: vw3(13)),
		));
	}
	.text-portfolio{
		width: 100%;
		padding: 0 40px 70px;
		margin: 0 auto;
		box-sizing: border-box;
		max-width: 960px;
		@include media((
				padding: (sm: 0),
		));
		i{
			font-weight: 300;
		}
		a{
			text-decoration: underline;
			letter-spacing: -1px;
			font-weight: 500;
			color: $orange;
			&:hover{
				text-decoration: none;
			}
		}
		&--png{
			padding-bottom: 40px;
		}
	}

	.row{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		.block{
			margin-bottom: 35px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: auto;
			img{
				display: block;
				width: 100%;
			}
			.video-link{
				cursor: pointer;
				width: 100%;
				background: url(../img/video-play.png) center center no-repeat;
				-webkit-transition: .3s ease;
				transition: .3s ease;
				display: block;
				padding-top: 177%;
				background-size: 77px;
				&:hover{
					background-color: rgba(0, 0, 0, 0.31);
				}
			}
		}

		&.third-row{
			.block{
				width: 32%;
				height: auto;
			}
		}
		&.double-row{
			.block{
				height: auto;
				width: 49%;
			}
		}
		&.fifth-row{
			.block{
				height: auto;
				width: 19%;
			}
		}
	}
}
.text-section-portfolio{
	padding-top: 140px;
	.ah2{
		margin-bottom: 50px;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.3;
		letter-spacing: -1.6px;
	}
	.flex-block{

		display: flex;
		justify-content: space-between;

		&>div{
			width: 49%;
			flex-shrink: 0;
			font-size: 25px;
			line-height: 1.3;
			.ah3{
				font-weight: bold;
				margin-bottom: 30px;
			}
			ol{
				list-style-position:inside;
				li{
					margin-bottom: 30px;
				}
			}
			p{
				margin-bottom: 25px;
			}
		}
	}

	.question-portfolio{
		text-align: center;
		background: #f3f5f6;
		font-size: 25px;
		line-height: 1.3;
		padding-top: 75px;
		padding-bottom: 60px;
		font-weight: 300;
		color: #000;
		a{
			font-weight: 500;
			color: inherit;
		}
	}
}
.more-klients-grid{
	padding-top: 75px;
	padding-bottom: 90px;
	color: #fff;
	background-color: #0F1116;
	@include media((
			padding-top: (sm: vw3(34)),
			padding-bottom: (sm: vw3(0)),
	));
	.ah2{
		margin-bottom: 75px;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.3;
		letter-spacing: -1.6px;
		@include media((
				margin-bottom: (sm: vw3(13)),
				font-size: (sm: vw3(18)),
				letter-spacing: (sm: vw3(-2)),
		));
	}
	.flex-block{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.klients-item{
			width: 23.7%;
			display: block;
			margin-left: 0;
			margin-right: 0;
			&:hover .img-block img{
				transform: scale(1.1);
			}
			.img-block{
				width: 100%;
				display: block;
				position: relative;
				overflow: hidden;
				img{
					display: block;
					width: 100%;
					transition: transform .3s ease,-webkit-transform .3s ease;
				}
			}
		}
	}
}

.videoBox{
    padding: 0;
}

.video-modal.hide .fancybox-button{
	color: currentColor;
	padding: 10px;
	right: 0;
	top: 0;
}

@media screen and (max-width:1650px){
    .portfolio-page .container-inner{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:1000px){
    .portfolio-page .container-inner{
        padding-left: 25px;
        padding-right: 25px;
    }

    .portfolio-page .top-portfolio {
        padding-bottom: 60px;
    }
    .portfolio-page .banner-portfolio {
        height: 310px;
    }
    .portfolio-page .section-portfolio .row .block{
        margin-bottom: 20px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div p {
        margin-bottom: 20px;
    }
    .portfolio-page .section-portfolio {
        padding-bottom: 40px;
        padding-top: 110px;
        font-size: 20.5px;
        line-height: 23px;
    }
    .portfolio-page .text-section-portfolio {
        padding-top: 110px;
    }



    .portfolio-page .more-klients-grid .flex-block .klients-item {
        width: 49%;
        display: block;
    }
    .video-modal.hide .fancybox-button{
        width: 80px;
        height: 80px;
        right: 25px;
        top: 25px;
    }
}

@media screen and (max-width:801px){
    .portfolio-page .banner-portfolio {
        height: 220px;
    }
    .portfolio-page .top-portfolio .flex-left .name-portfolio {
        font-size: 30.7px;
        line-height: 35px;
        margin-bottom: 23px;
    }
    .portfolio-page .back-portfolio {
        font-size: 17.4px;
        line-height: 21px;
    }

    .portfolio-page .section-portfolio {
        padding-bottom: 30px;
        padding-top: 50px;
        font-size: 16.5px;
        line-height: 21px;
    }
    .portfolio-page .section-portfolio .text-portfolio_title {
        font-size: 26.5px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .portfolio-page .section-portfolio .text-portfolio {
        padding-bottom: 21px;
    }
    .portfolio-page .section-portfolio .row .block .video-link {
        background-size: 60px auto;
    }
    .portfolio-page .section-portfolio .row .block {
        margin-bottom: 10px;
    }
    .portfolio-page .text-section-portfolio .ah2 {
        margin-bottom: 34px;
        font-size: 26.5px;
        line-height: 27px;
    }
    .portfolio-page .text-section-portfolio .flex-block{
        display: block;
    }
    .portfolio-page .text-section-portfolio .flex-block>div .ah3 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div {
        width: 100%;
        font-size: 17.5px;
        line-height: 21px;
    }
    .portfolio-page .text-section-portfolio .flex-block>div ol li {
        margin-bottom: 14px;
    }

    .portfolio-page .more-klients-grid .flex-block .klients-item{
        width: 100%;
    }
    .video-modal.hide .fancybox-button{
        width: 45px;
        height: 45px;
        right: 10px;
        top: 10px;
    }
}


@media screen and (max-width:800px){
    .portfolio-page .container-inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .portfolio-page .banner-portfolio {
        height: vw2(220);
    }

    .portfolio-page .section-portfolio {
        padding-bottom: vw2(30);
        padding-top: vw2(50);
        font-size: vw3(13);
        line-height: 1.3;
    }
    .portfolio-page .section-portfolio .text-portfolio_title {
        font-size: vw3(18);
        line-height: 1.3;
        margin-bottom: vw3(13);
    }
    .portfolio-page .section-portfolio .text-portfolio {
        padding-bottom: vw2(21);
        padding-right: vw3(40);
    }
    .portfolio-page .section-portfolio .row .block .video-link {
        background-size: 40px auto;
    }
    .portfolio-page .section-portfolio .row .block {
        margin-bottom: 10px;
    }
    .portfolio-page .text-section-portfolio .ah2 {
        margin-bottom: vw3(13);
		font-size: vw3(18);
		line-height: 1.3;
    }
    .portfolio-page .text-section-portfolio .flex-block{
        display: block;
    }
    .portfolio-page .text-section-portfolio .flex-block>div .ah3 {
        font-weight: 700;
        margin-bottom: vw3(13);
    }
    .portfolio-page .text-section-portfolio .flex-block>div {
        width: 100%;
		font-size: vw3(13);
		line-height: 1.3;
    }
    .portfolio-page .text-section-portfolio .flex-block>div ol li {
		margin-bottom: vw3(13);
    }

    .portfolio-page .more-klients-grid .flex-block .klients-item{
        width: 100%;
    }
	.portfolio-page .text-section-portfolio{
		padding-top: vw3(32);
	}
}

.disable-images{
    img{
        pointer-events: none;
        user-select: none;
    }
    [style*="background-image"]{
        user-select: none;
    }
}


.work-team__flex{
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 22px);
	margin-left: -11px;
	margin-right: -11px;
}
.work-team__item{
	margin: 0 11px 35px;
	width: 171px;
}
.work-team__item img{
	width: 100%;
}
.work-team__info{
	color: #f4f5f7;
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
.work-team__name{
	font-weight: 500;
}
.work-team__staf{
	font-style: italic;
	font-weight: 300;
}

.more-klients-grid .sep-line{
	width: 100%;
	height: 1px;
	background-color: $orange;
	margin: 20px 0 55px;
}



.pngVideo{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 46.875%;
	box-sizing: border-box;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		object-fit: cover;
		display: block;
		object-position: center top;
	}
	.video-container{
		width: 69.1667%;
		position: absolute;
		left: 50%;
		top: 10.6%;
		transform: translateX(-50%);
		z-index: 2;
		&__inner{
			padding-bottom: 56%;
			position: relative;
		}
		video{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center top;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
		}
	}
}




#popup-video .fancybox-button.fancybox-close-small svg,
.video-modal .fancybox-button.fancybox-close-small svg {
	display: none
}

#popup-video .fancybox-button.fancybox-close-small:hover::after,
.video-modal .fancybox-button.fancybox-close-small:hover::after {
	opacity: .5
}

#popup-video .fancybox-button.fancybox-close-small::after,
.video-modal .fancybox-button.fancybox-close-small::after {
	position: absolute;
	right: 10px;
	top: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: block;
	opacity: 1;
	background: url(../img/cross-w.svg) no-repeat center center;
	background-size: contain;
	content: ''
}

#popup-video.hide,
.video-modal.hide {
	color: #fff;
	background: 0 0
}

#popup-video.hide .fancybox-button,
.video-modal.hide .fancybox-button {
	right: 0
}

#popup-video.hide .prop-blck,
.video-modal.hide .prop-blck {
	height: 100%;
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#popup-video.hide .prop-blck::before,
.video-modal.hide .prop-blck::before {
	content: '';
	display: block;
	background: red
}

#popup-video.hide .prop-blck video,
.video-modal.hide .prop-blck video {
	max-width: 1000px;
	max-height: calc(100vh - 200px);
	width: 100%;
}

#popup-video.hide .prop-blck .logo,
.video-modal.hide .prop-blck .logo {
	width: 242px;
	display: block;
	height: 25px;
	background: url("../img/smmagnat_team.svg") center center no-repeat;
	background-size: contain;
	margin-top: 30px
}

.video-modal.hide {
	background: 0 0;
	width: auto;
	height: auto;
	padding-right: 50px;
	padding-left: 50px
}
